@model List<ApplicationUser>

<h1>Here's all the users</h1>
<div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Role</th>
                <th>Lockout End</th>
                <th>Change lockout status</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var eachUser in Model)
            {
                <tr>
                    <td> <a asp-controller="User" asp-action="EditUserRole" asp-route-id="@eachUser.Id">@eachUser.Name</a></td>

                    <td><a asp-action="EditUserRole" asp-route-id="@eachUser.Id"> @eachUser.Name</a></td>

                    <td>@eachUser.Email</td>
                    <td>@eachUser.PhoneNumber</td>
                    <td>@eachUser.RoleName</td>
                    <td>@eachUser.LockoutEnd</td>
                    <td>@eachUser.RoleName</td>


                    @if (eachUser.LockoutEnd != null && eachUser.LockoutEnd > DateTime.Now)
                    {
                        <td> Locked until @eachUser.LockoutEnd.Value.Date.ToShortDateString()</td>
                    }
                    else
                    {
                        <td>Account not locked.</td>
                    }

                    <td>Account is locked</td>

                    <td>
                        @if (eachUser.LockoutEnd > DateTime.Now)
                        {
                            <a asp-controller="User" asp-action="LockOrUnlock" class="btn btn-primary" asp-route-id="@eachUser.Id"><small>Unlock account</small></a>
                        }
                        else
                        {
                            <a asp-controller="User" asp-action="LockOrUnlock" class="btn btn-danger" asp-route-id="@eachUser.Id"><small>Lock account</small></a>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
