@model List<Book>

	<h1>Book List</h1>

	<div class-"pt-2 pb-2">

		

	<table class ="table table-bordered table-striped">
				<thead>
					<tr>

						<th> Name</th>
						<th> Description</th>

					</tr>


				</thead>

				<tbody>
					@foreach(var eachBook in Model)
					{
						<tr>
							<td>@eachBook.BookTitle</td>
							<td>@eachBook.Description</td>
							<td>
								<a asp-controller="Book" asp-action="Edit" asp-route-id="@eachBook.BookId" class="btn btn-primary">Edit</a>
								<a asp-controller="Book" asp-action="Delete" asp-route-id="@eachBook.BookId" class="btn btn-primary">Delete</a>
								<a asp-controller="Book" asp-action="Details" asp-route-id="@eachBook.BookId" class="btn btn-primary">Details</a>


							</td>
						</tr>
					}
				</tbody>
			</table>




		



	</div>

	<div>
		<div class="col-6">

		</div>

			<div class="col-6">
				<a asp-controller="Book" asp-action="Create" class="btn btn-secondary"> Create New Book </a>
		

			</div>



	</div>
