@model List<Book>

	</div>
	<div class="row">
    @foreach(var eachBook in Model)
    {
        <div class="col-3">
            <div class="card col-12 m-2 p-2 border-2 shadow rounded">
                <img class="card-img-top"/>
                <h3 class="card-title"> @eachBook.BookTitle </h3>
                <div class="card-body">
                    <p class="card-text">
                        @eachBook.Author
                        <br/>
                        @eachBook.Description
                        <br/>
                        <p>
                            @eachBook.category.Name
                        </p>
                        @eachBook.Price
                        <br/>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
