@model List<Book>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card col-3 m-2 p-2 border-2 shadow border-rounded text-center">
            <img class="card-img-top" src="@item.ImgUrl" />
            <div class="card-body">
                <h3 class="card-title">@item.BookTitle</h3>
                <p class="card-text">
                    <br />
                    @item.Author
                    <br />
                    @item.Description
                    <br />
                <p>@item.category.Name</p>
                    @item.Price
                </p>

                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.BookId" class="btn btn-primary">Details</a>
            </div>



        </div>
    }
</div>